{{>header}}

<div class="container">

  <h2>This is a tutorial for using the Google Sheets API!</h2>

  <div>This data is pulling from the second tab:</div>

  <ul class="data_rows">
    {{#each rows}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

</div>

{{>footer}}